
.codeblock-h3{
    text-align: center;
}
.editor-container{
    width: 900px;
    height: 540px;
    margin: 20px auto;
    position: relative;
    border: solid red 3px;
}

#editor{
    border: solid rgb(30, 15, 97) 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
}