.signup-body{
    color: white;
}
.login-body{
    color: white;
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
    width: 430px;
    margin-bottom: 20px;
    border: solid rgb(135, 206, 235) 1px;
    background-color: rgba(135, 206, 235, 0.1);
}

.container .logo {
    height: 85px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.symbol-Z {
    margin-right: 2px;
    color: purple;
}

.symbol-C {
    margin-left: 2px;
    color: rgb(0, 128, 117);

}

.zcoder {
    margin-top: -4px;
    font-size: 0.8rem;
}

.sinnup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 99%;
    min-height: 200px;
    margin-bottom: 20px;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 99%;
    min-height: 130px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.input-elements {
    background-color: #eff3f3;
    width: 80%;
    height: 35px;
    font-size: 0.9rem;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 5px;
}

.button-signup-login{
    background-color: orange;
    color: white;
    font-weight: bold;
    width: 87%;
    height: 45px;
    font-size: 1rem;
    border-radius: 3px;
    padding: 3px 15px;
    margin-left: 25px;
}

.button-signup-login:hover{
    background-color: rgb(47, 252, 64);
    color: white;
}


footer p{
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}

.tags{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.tags a{
    margin: 0 20px;
    text-decoration: none;
    color: grey;
}

.tags a:hover{
    color: blue;
}

.credentials-form{
    width: 99%;
}